:root {
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-body: Inter, var(--font-fallback);
    --font-heading: Inter, var(--font-fallback);
    --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --base-font-size: 100%;
    --base-line-height: 1.2;
    --intermediate-line-height: 1.5;
    --heading-line-height: var(--base-line-height);
    --heading-letter-spacing: -0.031rem;
    --font-content-line-height: 1.75;
    --font-body-strong-weight: 600;
    --type-heading-h1-font-size: 2.488rem;
    --type-heading-h2-font-size: 2.074rem;
    --type-heading-h3-font-size: 1.728rem;
    --type-heading-h4-font-size: 1.44rem;
    --type-heading-h5-font-size: 1.2rem;
    --type-base-font-size-rem: 1rem;
    --type-smaller-font-size: 0.833rem;
    --type-tiny-font-size: 0.694rem;
    --type-heading-h1-font-size-mobile: 1.802rem;
    --type-heading-h2-font-size-mobile: 1.602rem;
    --type-heading-h3-font-size-mobile: 1.424rem;
    --type-heading-h4-font-size-mobile: 1.266rem;
    --type-emphasis-m: var(--font-body-strong-weight) var(--type-smaller-font-size) /1.23 var(--font-body);
    --type-label-s: 600 var(--type-tiny-font-size) /1.2 var(--font-heading);
    --type-heading-h1: 600 var(--type-heading-h1-font-size-mobile) /var(--heading-line-height) var(--font-heading);
    --type-heading-h2: 500 var(--type-heading-h2-font-size-mobile) /var(--heading-line-height) var(--font-heading);
    --type-heading-h3: 300 var(--type-heading-h3-font-size-mobile) /var(--heading-line-height) var(--font-heading);
    --type-heading-h4: 400 var(--type-heading-h4-font-size-mobile) /var(--heading-line-height) var(--font-heading);
    --type-heading-h5: 400 var(--type-heading-h5-font-size) /var(--heading-line-height) var(--font-heading);
    --type-heading-h6: 400 var(--type-base-font-size-rem) /var(--heading-line-height) var(--font-heading);
    --type-article-p: 400 var(--type-base-font-size-rem) /var(--font-content-line-height) var(--font-body);
    --max-width: 1440px;
    --gutter: 1rem;
    --top-navigation-height: 4rem;
    --top-navigation-offset: -4rem;
    --top-banner-inner-height: 3.125rem;
    --top-banner-height: calc(var(--top-banner-inner-height) + 0.25rem);
    --top-banner-outer-height: calc(var(--top-banner-height) + 2px);
    --z-index-a11y: 10000;
    --z-index-modal-content: 801;
    --z-index-modal-overlay: 800;
    --z-index-main-header: 700;
    --z-index-sidebar-mobile: 600;
    --z-index-mid: 500;
    --z-index-nav-menu: 200;
    --z-index-search-results: 101;
    --z-index-low: 100;
    --z-index-search-results-home: 99;
    --z-index-back: -1;
    --elem-radius: 0.25rem;
    --focus-effect: 0 0 0 3px var(--accent-primary-engage);
    --form-elem-height: 2rem;
    --top-nav-height: 4rem;
    --article-actions-container-height: 2rem;
    --icon-size: 1rem;
    --sticky-header-without-actions-height: calc(var(--top-nav-height) + 1px);
    --sticky-header-with-actions-height: calc(var(--sticky-header-without-actions-height) + var(--article-actions-container-height) + 1px) --theme: #40e0d0;
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Firefox */
*,
:after,
:before {
    box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol,
p,
ul {
    margin: 0
}

ol,
ul {
    list-style: none;
    padding: 0
}

html {
    scroll-behavior: smooth
}

body {
    font-family: var(--font-body);
    font-size: var(--base-font-size);
    line-height: var(--font-content-line-height);
    text-rendering: optimizeSpeed
}

/*firefox ends here*/

@media(prefers-reduced-motion:reduce) {
    html {
        scroll-behavior: auto
    }

    *,
    :after,
    :before {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: .01ms !important
    }
}

@media screen and (min-width:769px) {
    :root {
        --type-heading-h1: 600 var(--type-heading-h1-font-size) /var(--heading-line-height) var(--font-heading);
        --type-heading-h2: 500 var(--type-heading-h2-font-size) /var(--heading-line-height) var(--font-heading);
        --type-heading-h3: 300 var(--type-heading-h3-font-size) /var(--heading-line-height) var(--font-heading);
        --type-heading-h4: 400 var(--type-heading-h4-font-size) /var(--heading-line-height) var(--font-heading)
    }
}

@media screen and (max-width:769px) {
    body.mobile-overlay-active {
        overflow: hidden
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

.data-container {
    margin: 20px auto;
    width: 90%;
}

.data-container-main {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}
.left-panel {
    flex: 3.7; /* 80% of the width */
    padding-left: 5%;
    padding-right: 20px;
}
.right-panel {
    flex: 1.5; /* 20% of the width */
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    padding: 10px;
}

table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
}

hr {
    min-width: 100%;
    margin-bottom: 75px;
    border: none;
    border-top: 1px solid #490d0d;
}

div.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

div.wrapper.min {
    max-width: 680px;
}

header.header {
    background-color: #383636f2;
    position: sticky;
    top: 0;
    font-size: 14px;
    line-height: 2;
    z-index: 999;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #23a568;
}

h1.logo {
    font-size: 14px;
}

p.logo {
    margin: 0;
}

nav a {
    color: #e7e2e2;
}

.logo a {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 700;
}

ul.navi li {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    list-style-type: none;
    margin: 5px 5px 5px 5px;
}

ul.navi li a:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 5px 14px; /* Adjust padding as needed */
    border: 1px solid #7e7d7d; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.5s; /* Transition effect for border color change */
}

/* Hover effect */
input[type="text"]:hover {
    border-color: #007bff; /* Border color on hover */
}

/* CSS */
.button-10 {
    flex-direction: column;
    align-items: center;
    padding: 5px 14px;
    border-radius: 5px;
    border: none;
    margin: 5px 5px 5px 5px;

    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:hover {
    background: linear-gradient(180deg, #458fff 0%, #1867f8 100%);
    outline: 0;
}