<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DSER</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container my-2" align="center">
 
<!-- <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add Employee</a> -->
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
    <thead>
		
		<div class="topnav">
  			<input type="text" placeholder="Search..">
  			<button type="submit">Submit</button>
		</div>
  <tr>
	<th>ID</th>
	<th>Object text</th>
	<th>Requirement type</th>
	<th>Validation  evidence</th>
	<th>Validation proof</th>
	<th>Validation result</th>
	<th>val statement</th>
	<th>Ac condition</th>
	<th>Validates</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="ds:${dsd}">
	  	<td th:text="${ds.id}"></td>
        <td th:text="${ds.obj_text}"></td>
        <td th:text="${ds.req_type}"></td>
        <td th:text="${ds.val_evidence}"></td>
        <td th:text="${ds.val_proof}"></td>
        <td th:text="${ds.val_result}"></td>
        <td th:text="${ds.val_statement}"></td>
        <td th:text="${ds.ac_condition}"></td>
        <td th:text="${ds.validates}"></td>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>