<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search and Table</title>
    <link rel="stylesheet" type="text/css" href="style.css"> <!-- Link to separate CSS file -->
</head>

<body>
	<div class="container">
		<div class="search-container">
			<input type="text" placeholder="Search..." class="search-bar">
			<button type="submit" class="search-button">Search</button>
		</div>
	</div>

</body>

</html>