<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search and Table</title>
	<link rel="stylesheet" type="text/css" href="style.css"> <!-- Link to separate CSS file -->

</head>

<body class="list">

	<script th:inline="javascript">
		/*<![CDATA[*/
		var jsonData = /*[[${jsonData}]]*/ '[]';

		/*]]>*/
	</script>

	<header class="header">
		<nav class="nav" aria-label="Main">

			<p><a href=""></a></p>
			<ul class="navi">
				<li><a href="">Home</a></li>
				<li><a href="">Baseline</a></li>
				<li><a href="">Add data</a></li>
			</ul>
		</nav>
	</header>



	<div class="data-container">
		<form th:action="@{/}" method="get">
			<input class="input-group__input" type="text" name="id" th:value="${id}" placeholder="Search" size="50">
			<button class="button-10" role="button">Search</button>
		</form>
	</div>


	<div class="data-container-main">
		<div class="left-panel">
			<button id="myButton">Invoke Controller</button>
			<div id="tbcontainer">

			</div>
		</div>
		<div class="right-panel">
			<p>
				Graph
			</p>
		</div>
	</div>

	<script>
		function createTable(data, parentElement) {
			Object.values(data).forEach(function (value) {
				//alert(value)
				var tableContainer = document.createElement('div');
				tableContainer.classList.add('table-container');

				var table = document.createElement('table');

				var header = table.createTHead();
				var row = header.insertRow();
				Object.keys(value).forEach(function (key) {
					//alert(key)//Attribute names

					var th = document.createElement('th');
					th.textContent = key;
					row.appendChild(th);
				});
				var tbody = document.createElement('tbody');
				table.appendChild(tbody);

				var row = tbody.insertRow();
				Object.values(value).forEach(function (k) {
					//alert(k)//Data for that attribute
					var cell = row.insertCell();
					cell.textContent = k;
				});
				tableContainer.appendChild(table);
				parentElement.appendChild(tableContainer);
			});
		}
		var container = document.getElementById('tbcontainer');
		createTable(jsonData, container);

		const button = document.getElementById('myButton');

		button.addEventListener('click', function () {
			const id = 'DS_ER_ISO9001_7049'; // Replace '123' with your actual ID value

			// Construct the URL with the ID parameter
			const url = `/rel?id=${id}`;
			window.location.href = url;

			// Send AJAX request to the Spring Boot controller
			fetch(url)
				.then(response => {
					if (response.ok) {
						console.log('Controller invoked successfully!');
					} else {
						console.error('Error invoking controller:', response.statusText);
					}
				})
				.catch(error => {
					console.error('Fetch error:', error);
				});
		});
	</script>

	<!--<script src="js/script.js"></script>-->

</body>

</html>