<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--<link rel="stylesheet" href="style.css">-->
	<style>
		.table-container {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		table {
			border-collapse: collapse;
			width: 80%;
			border: 1px solid #ddd;
		}

		th,
		td {
			width: 13%;
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #ddd;
		}
	</style>
</head>

<body>

	<div id="container"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var jsonData = /*[[${tempList}]]*/ '[]'; // Assuming jsonData is the data you want to pass from the controller

		/*]]>*/
	</script>
	<!--<script>

    function createTable(data, parentElement) {
        var tableContainer = document.createElement('div');
        tableContainer.classList.add('table-container');

        var table = document.createElement('table');

        var header = table.createTHead();
        var row = header.insertRow();
        Object.keys(data).forEach(function(key) {
            var th = document.createElement('th');
            th.textContent = key;
            row.appendChild(th);
        });

        var tbody = document.createElement('tbody');
        table.appendChild(tbody);

        var row = tbody.insertRow();
        Object.values(data).forEach(function(value) {
            var cell = row.insertCell();
            if (typeof value === 'object') {
                createTable(value, cell);
            } else {
                cell.textContent = value;
            }
        });

        tableContainer.appendChild(table);
        parentElement.appendChild(tableContainer);
    }

    var container = document.getElementById('container');
    createTable(jsonData, container);
</script>-->

	<!--<script>
		function createTable(data, parentElement) {
			
			Object.values(data).forEach(function (value) {

				Object.values(value).forEach(function (key) {

					var tableContainer = document.createElement('div');
					tableContainer.classList.add('table-container');

					var table = document.createElement('table');

					var header = table.createTHead();
					var row = header.insertRow();

					Object.keys(key).forEach(function (k) {

						var th = document.createElement('th');
						th.textContent = k;
						row.appendChild(th);

					});
					var tbody = document.createElement('tbody');
					table.appendChild(tbody);

					var row = tbody.insertRow();
					Object.values(key).forEach(function (value) {
						var cell = row.insertCell();
						cell.textContent = value;
					});
					tableContainer.appendChild(table);
					parentElement.appendChild(tableContainer);
				});

			});
		}

		var container = document.getElementById('container');
		createTable(jsonData, container);
	</script>-->

	<script>
		function createTable(data, parentElement) {

			Object.values(data).forEach(function (value) {
				
				var tableContainer = document.createElement('div');
				
				tableContainer.classList.add('table-container');

				var table = document.createElement('table');

				var header = table.createTHead();
				var row = header.insertRow();

				Object.keys(value).forEach(function (k) {
					var th = document.createElement('th');
					if(k != "val" && k != "realizedTo" &&  k != "realizesTo"){
						th.textContent = k;	
					}else{
						th.textContent = "";
					}
					row.appendChild(th);
				});
				var tbody = document.createElement('tbody');
				table.appendChild(tbody);

				var row = tbody.insertRow();
				Object.values(value).forEach(function (value) {
					var cell = row.insertCell();
					cell.textContent = value;
				});
				tableContainer.appendChild(table);
				parentElement.appendChild(tableContainer);
				parentElement.appendChild(document.createElement('br'));
				
			});
		}

		var container = document.getElementById('container');
		createTable(jsonData, container);
	</script>

</body>

</html>