<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search and Table</title>
	<link rel="stylesheet" type="text/css" href="style.css"> <!-- Link to separate CSS file -->
	<script src="https://kit.fontawesome.com/964a5c8cac.js" crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<style>
		path {
			fill: none;
			stroke: black;
		}

		.svg-container {
			display: flex;
			justify-content: center;
			align-items: center;

			/* Adjust as needed */
		}
	</style>
</head>

<body class="list">

	<script th:inline="javascript">
		/*<![CDATA[*/
		var jsonData = /*[[${jsonData}]]*/ '{}';

		/*]]>*/
	</script>

	<header class="header">
		<nav class="nav" aria-label="Main">

			<p><a href=""></a></p>
			<ul class="navi">
				<li><a href="">Home</a></li>
				<li><a href="">Baseline</a></li>
				<li><a href="">Add data</a></li>
			</ul>
		</nav>
	</header>

	<div class="data-container">
		<form th:action="@{/}" method="get">
			<input class="input-group__input" type="text" name="id" th:value="${id}" placeholder="Search" size="50">
			<button class="button-10" role="button">Search</button>
		</form>
	</div>

	<div class="data-container-main">
		<div class="left-panel">
			<div id="tbcontainer">

			</div>
		</div>
		<div class="right-panel">
			<svg class="svg-container" width="700" height="800"></svg>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var graphData = /*[[${graphData}]]*/ '{}';

				/*]]>*/
			</script>
			<script>
				// Create tree layout
				var treeLayout = d3.tree().size([600, 400]);

				// Create hierarchy
				var root = d3.hierarchy(graphData[0], function (d) {
					return d.value && d.value.realizes ? d.value.realizes : [];
				});

				// Assigns parent, children, height, depth
				treeLayout(root);

				// Append the svg object to the body of the page
				var svg = d3.select("svg"),
					g = svg.append("g").attr("transform", "translate(200,50)");

				// Add links
				g.selectAll(".link")
					.data(root.links())
					.enter().append("path")
					.attr("class", "link")
					.attr("d", d3.linkHorizontal()
						.x(function (d) {return d.y;})
						.y(function (d) {return d.x;}));

				// Add nodes
				var node = g.selectAll(".node")
					.data(root.descendants())
					.enter().append("g")
					.attr("class", "node")
					.attr("transform", function (d) {return "translate(" + d.y + "," + d.x + ")";})
					.call(d3.drag().on("start", dragStarted).on("drag", dragged).on("end", dragEnded));

				// Add circles to nodes
				node.append("circle")
					.attr("r", 10);

				// Add text to nodes
				node.append("text")
					.attr("dy", ".25em")
					.attr("x", function (d) {return d.children ? -15 : 15;})
					.style("text-anchor", function (d) {return d.children ? "end" : "start";})
					.text(function (d) {
						return d.data.value.id;
					});

				// Drag started event handler
				function dragStarted(event, d) {
					d3.select(this).raise().classed("active", true);
				}

				// Dragged event handler
				function dragged(event, d) {
					d3.select(this)
						.attr("cx", d.x = event.x)
						.attr("cy", d.y = event.y)
						.transition()
						.duration(50)
						.ease(d3.easeLinear)
						.attr("cx", d.x + Math.random() * 10 - 5)
						.attr("cy", d.y + Math.random() * 10 - 5);

					updateLinks();
				}

				// Drag ended event handler
				function dragEnded(event, d) {
					d3.select(this).classed("active", false);
				}

				function updateLinks() {
					link.attr("d", function (d) {
						return "M" + graphData[d.source - 1].x + "," + graphData[d.source - 1].y
							+ " " + graphData[d.target - 1].x + "," + graphData[d.target - 1].y;
					});
				}
			</script>

		</div>
	</div>

	<script>
		// Function to create a table from provided data and append it to the parent element
		function createTable(data, parentElement) {
			// Iterate over each value in the data object
			Object.values(data).forEach(function (value) {
				// Iterate over each value within the current value object
				Object.values(value).forEach(function (key) {
					// Check if the current key is an array
					if (Array.isArray(key)) {
						// If key is an array, iterate over its values and generate a table for each
						Object.values(key).forEach(function (k) {
							generateTable(k, parentElement);
						});
					} else {
						// If key is not an array, generate a table directly
						generateTable(key, parentElement); // for properties(n)
					}
				});
			});
		}

		// Function to generate a table for a given JSON data object and append it to the parent element
		function generateTable(jData, parentElement) {
			var id = " "; // Initialize a variable to store the current ID

			// Create a container div for the table and add a class to it
			var tableContainer = document.createElement('div');
			tableContainer.classList.add('table-container');

			id = jData["id"]; // Store the current ID

			// Create the table element
			var table = document.createElement('table');

			// Create the table header
			var header = table.createTHead();
			var row = header.insertRow();

			// Iterate over the keys in the jData object to create table headers
			Object.keys(jData).forEach(function (ke) {
				var th = document.createElement('th');

				// Format the key by splitting on underscores, capitalizing each word, and joining them with spaces
				var formattedKey = ke.split('_').map(function (word) {
					return word.charAt(0).toUpperCase() + word.slice(1);
				}).join(' ');

				th.textContent = formattedKey;
				row.appendChild(th);
			});

			// Add an extra column header for the icons (links)
			var th = document.createElement('th');
			th.textContent = 'Links';
			row.appendChild(th);

			// Create the table body
			var tbody = document.createElement('tbody');
			table.appendChild(tbody);

			// Insert a new row in the table body
			var row = tbody.insertRow();

			// Iterate over the values in the jData object to create table cells
			Object.values(jData).forEach(function (value) {
				var cell = row.insertCell();
				cell.textContent = value;
			});

			// Add an extra cell with icons for up and down links
			var actionCell = row.insertCell();
			actionCell.innerHTML = '<td><div><a href="#"><i class="fa-solid fa-angle-up up-down" id="upButton"></i></a><a href="#"><i class="fa-solid fa-angle-down up-down" id="downButton"></i></a></div></td>';
			tableContainer.appendChild(table);
			parentElement.appendChild(tableContainer);

			// Add event listeners to the up buttons
			document.querySelectorAll('#upButton').forEach(function (button) {
				button.addEventListener('click', function (event) {
					event.preventDefault(); // Prevent default anchor behavior

					// Define the URL for the incoming links
					const url = '/incominglinks?id=' + id;
					window.location.href = url;

					// Send an AJAX request to the Spring Boot controller
					fetch(url)
						.then(response => {
							if (response.ok) {
								console.log('Controller invoked successfully!');
							} else {
								console.error('Error invoking controller:', response.statusText);
							}
						})
						.catch(error => {
							console.error('Fetch error:', error);
						});
				});
			});

			// Add event listeners to the down buttons
			document.querySelectorAll('#downButton').forEach(function (button) {
				button.addEventListener('click', function (event) {
					event.preventDefault(); // Prevent default anchor behavior

					// Define the URL for the outgoing links
					const url = '/outgoinglinks?id=' + id;
					window.location.href = url;

					// Send an AJAX request to the Spring Boot controller
					fetch(url)
						.then(response => {
							if (response.ok) {
								console.log('Controller invoked successfully!');
							} else {
								console.error('Error invoking controller:', response.statusText);
							}
						})
						.catch(error => {
							console.error('Fetch error:', error);
						});
				});
			});
		}

		// Get the container element where the table will be appended
		var container = document.getElementById('tbcontainer');

		// Call the createTable function with the provided JSON data and container element
		createTable(jsonData, container);
	</script>

	<script>
		function exportTables() {
			// Get all tables within the 'container' div
			var tables = document.querySelectorAll('#container table');

			// Initialize variable to store concatenated table data
			var allTablesData = '';

			// Iterate over each table
			tables.forEach(function (table) {
				// Extract the data from each table
				var tableData = '';
				for (var i = 0; i < table.rows.length; i++) {
					for (var j = 0; j < table.rows[i].cells.length; j++) {
						tableData += table.rows[i].cells[j].innerText + '\t';
					}
					tableData += '\n';
				}
				// Concatenate the data to allTablesData
				allTablesData += tableData;
			});

			// Create a Blob containing all table data
			var blob = new Blob([allTablesData], {type: 'text/plain'});

			// Save the Blob as a file using FileSaver.js
			saveAs(blob, 'exported_tables_data.txt');
		}
	</script>

</body>

</html>