<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--<link rel="stylesheet" href="style.css">-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
	<style>
		.table-container {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		table {
			border-collapse: collapse;
			width: 80%;
			border: 1px solid #ddd;
		}

		th,
		td {
			width: 13%;
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #ddd;
		}
	</style>
</head>

<body>
	<button onclick="exportTables()">Export Table Data to Text</button>
	<!--<button onclick="exportTablesToExcel()">Export Table Data to Word</button>
	<button onclick="exportTablesToWord()">Export Table Data to Excel</button>-->
	
	<div id="container">

	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var jsonData = /*[[${jsonData}]]*/ '[]'; // Assuming jsonData is the data you want to pass from the controller

		/*]]>*/
	</script>
	
	<script>
		function createTable(data, parentElement) {

			Object.values(data).forEach(function (value) {
				//alert(value)

				Object.values(value).forEach(function (key) {
					//alert(key)

					if (Array.isArray(key)) {
						Object.values(key).forEach(function (k) {
							generateTable(k, parentElement);
						});
					}else{
						generateTable(key, parentElement); // for properties(n)
					}

					//alert(key)
				});

			});
		}
		function generateTable(jData, parentElement) {
			//alert(jData)
			var tableContainer = document.createElement('div');
			tableContainer.classList.add('table-container');

			var table = document.createElement('table');

			var header = table.createTHead();
			var row = header.insertRow();
			Object.keys(jData).forEach(function (ke) {

				var th = document.createElement('th');
				th.textContent = ke;
				row.appendChild(th);

			});
			var tbody = document.createElement('tbody');
			table.appendChild(tbody);

			var row = tbody.insertRow();
			Object.values(jData).forEach(function (value) {
				var cell = row.insertCell();
				cell.textContent = value;
			});
			tableContainer.appendChild(table);
			parentElement.appendChild(tableContainer);
			parentElement.appendChild(document.createElement('br'));
		}

		var container = document.getElementById('container');
		createTable(jsonData, container);
	</script>

	<script>
		function exportTables() {
			// Get all tables within the 'container' div
			var tables = document.querySelectorAll('#container table');

			// Initialize variable to store concatenated table data
			var allTablesData = '';

			// Iterate over each table
			tables.forEach(function (table) {
				// Extract the data from each table
				var tableData = '';
				for (var i = 0; i < table.rows.length; i++) {
					for (var j = 0; j < table.rows[i].cells.length; j++) {
						tableData += table.rows[i].cells[j].innerText + '\t';
					}
					tableData += '\n';
				}
				// Concatenate the data to allTablesData
				allTablesData += tableData;
			});

			// Create a Blob containing all table data
			var blob = new Blob([allTablesData], {type: 'text/plain'});

			// Save the Blob as a file using FileSaver.js
			saveAs(blob, 'exported_tables_data.txt');
		}
	</script>
		
	<!--For API : /ds_er/{id}/rel 
	<script>
		function createTable(data, parentElement) {

			Object.values(data).forEach(function (value) {
				
				var tableContainer = document.createElement('div');
				
				tableContainer.classList.add('table-container');

				var table = document.createElement('table');

				var header = table.createTHead();
				var row = header.insertRow();

				Object.keys(value).forEach(function (k) {
					var th = document.createElement('th');
					if(k != "val" && k != "realizedTo"){
						th.textContent = k;	
					}else{
						th.textContent = "";
					}
					row.appendChild(th);
				});
				var tbody = document.createElement('tbody');
				table.appendChild(tbody);

				var row = tbody.insertRow();
				Object.values(value).forEach(function (value) {
					var cell = row.insertCell();
					cell.textContent = value;
				});
				tableContainer.appendChild(table);
				parentElement.appendChild(tableContainer);
				parentElement.appendChild(document.createElement('br'));
				
			});
		}

		var container = document.getElementById('container');
		createTable(jsonData, container);
	</script>-->

</body>

</html>